{% extends 'index.html' %}

<!--
    NOTA: esta es la principal pagina para modificar el como se ensenan los resultados,
    si solo se va a agregar algo, esta señalado el lugar.
    NOTA2: Cambiar para que al presionar los botones se realice esa busqueda.
    NOTA3: Si algo se quiere traer de info, ir a dic/getdata.py
-->
        

{% block main %}

<!--nombre de la palabra-->
<h1>{{ entrada }}</h1>

<!--poner cada significado-->
{% for  sentido in datos %}

<section class= {{sentido.type}} >

    <!--significado-->        
    <center>
        <p><strong>({{sentido.type}}):</strong> {{sentido.meaning}} </p>
    </center>
        
    <details>
        <summary></summary>
        
        <!--sinonimos-->
        {% if sentido.AnySyn %}
        <aside>
            <h3>Other words for that:</h3>
            <div>
                {% for syn in sentido.Syn %}
                <button>{{syn}}</button>
                {% endfor %}
            </div>
        </aside>
        {% endif %}

        <!--antonimos-->
        {% if sentido.AnyAnt %}
        <aside>
            <h3>Opposite words:</h3>
            <div>
                {% for ant in sentido.Ant %}
                <button>{{ant}}</button>
                {% endfor %}
            </div>
        </aside>
        {% endif %}

        <!--hiperonimos-->
        {% if sentido.AnyHyper %}
        <aside>
            <h3>Is A:</h3>
            <div>
                {% for H in sentido.Hyper %}
                <button>{{H}}</button>
                {% endfor %}
            </div>
        </aside>
        {% endif %}

        <!--hiponimos-->
        {% if sentido.AnyHypo %}
        <aside>
            <h3>Can be</h3>
            <div>
                {% for H in sentido.Hypo %}
                <button>{{H}}</button>
                {% endfor %}
            </div>
        </aside>      
        {% endif %}

        <!--holonimos de parte-->
        {% if sentido.AnyPHol %}
        <aside>
            <h3>Is part of</h3>
            <div>
                {% for H in sentido.PHol %}
                <button>{{H}}</button>
                {% endfor %}
            </div>
        </aside>      
        {% endif %}

        <!--meronimos de parte-->
        {% if sentido.AnyPMer %}
        <aside>
            <h3>Composed by the parts:</h3>
            <div>
                {% for Mer in sentido.PMer %}
                <button>{{Mer}}</button>
                {% endfor %}
            </div>
        </aside>      
        {% endif %}

        <!--holonimos de miembro-->
        {% if sentido.AnyMHol %}
        <aside>
            <h3>Is member of:</h3>
            <div>
                {% for H in sentido.MHol %}
                <button>{{H}}</button>
                {% endfor %}
            </div>
        </aside>      
        {% endif %}

        <!--meronimos de miembro-->
        {% if sentido.AnyMMer %}
        <aside>
            <h3>Composed by the members:</h3>
            <div>
                {% for Mer in sentido.MMer %}
                <button>{{Mer}}</button>
                {% endfor %}
            </div>
        </aside>      
        {% endif %}

        <!--meronimos de sustancia-->
        {% if sentido.AnySMer %}
        <aside>
            <h3>Made of:</h3>
            <div>
                {% for Mer in sentido.SMer %}
                <button>{{Mer}}</button>
                {% endfor %}
            </div>
        </aside>      
        {% endif %}

        <!--entailment-->
        {% if sentido.AnyEnt %}
        <aside>
            <h3>Implicates</h3>
            <div>
                {% for Ent in sentido.Ent %}
                <button>{{Ent}}</button>
                {% endfor %}
            </div>
        </aside>      
        {% endif %}

        <!--causas-->
        {% if sentido.AnyCauses %}
        <aside>
            <h3>Causes:</h3>
            <div>
                {% for Causes in sentido.Causes %}
                <button>{{Causes}}</button>
                {% endfor %}
            </div>
        </aside>      
        {% endif %}

        <!--Si hay algo mas que agregar, hazlo aqui-->
    </details>
</section>
{% endfor %}
{% endblock %}